body {
    display: contents
}

.navbar {
    float:right;
    font-family: Arial, sans-serif;
    font-size: 13px;
    margin: 20px;
}

.nav-item {
    text-decoration: none;
    color: black;
    margin-right: 15px;
}

.nav-item:hover {
    text-decoration: underline;
}

.margin-top {
    margin-top: 300px;
    text-align: center;
}


.input-area {
    margin-top: 20px;
    border: 1px solid #dfe1e5;
    border-radius: 24px;
    width: 586px;
    height: 46px;
    padding-left: 40px;
    padding-right: 40px;
}

.search-icon {
    position: relative;
    left: 40px; 
    color: #9aa0a6;
}

.microphone-icon {
    position: relative;
    right: 40px;
    color: #9aa0a6;
}

.button-area {
    padding-top: 18px;
}

.button-style {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    color: #3c4043;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
    border-radius: 4px;
    font-family: Arial, sans-serif;
    font-size: 14px;
}

.button-style:hover {
    box-shadow: 0 1px 1px rgba(0, 0, 0, .1);
    background-color: #f8f9fa;
    border: 1px solid #dadce0;
    color: #202124;
}

.language-area {
    color: #5f6368;
    display: inline-block;
    line-height: 28px;
    font-size: 13px;
    font-family: Arial, sans-serif;
    margin-top: 10px;
}


.language-area a {
    color: #1a0dab;
    text-decoration: none;
}

.language-area a:hover {
    text-decoration: underline;
}

.footer {
    position: absolute;
    bottom: 0px;
    width: 100%;
    background-color: #f7f8f9;
    font-family: Arial, sans-serif;
    font-size: 12px;
}

.footer-content-fl {
    padding: 13px 30px;
    border-bottom: 1px solid #dadce0;
}

.footer-content-sl {
    padding: 13px 30px; 
}

.footer-content-sl-right {
    float:right;
}

.footer-item {
    text-decoration: none;
    color: black;
    margin-right: 13px;
}

.footer-item:hover {
    text-decoration: underline;
}
